/*Custom Styles*/
body {
  font-family:"Open sans", sans-serif;
  padding:50px 0 0;
}
.body-wrap,.game-panel, .profile-panel {
  min-height:calc(100vh - 200px);
}
.btn {
  background:white;
  border-radius:0;
  color:#555;
  border-color:#adadad;
}
.btn:hover {
  background-color:#e6e6e6;
  border-color:#adadad;
  color:#555;
}
.btn-primary {
  background: #EC4838;
  border-radius:0;
}
.btn-primary:hover {
  background-color: #BB3A2D;
}
.btn-primary, .btn-primary:hover {
  color:#fff;
  border-color:#C33A2D;
}
.content, .content-alt {
  padding: 50px 0;
}
.content {    
    background-color: #f8f8f8;
}
.content-alt {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.content-img {
  max-height:275px;
}
.content-heading {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    font-family:'Salsa', cursive;
}
.content-heading-spacer {
    width: 200px;
    border-top: 3px solid #e7e7e7;
    float: left;
}
footer{
  height: 150px;
  background-color:#F8F8F8;
  padding: 45px 15px;
}
.footer-menu-divider {
  color:#828282;
}
.game-panel {
    background-color: #C1BEC5;
}
.game-panel h2 {
    color: #36313C;
}
.game-panel .nav-tabs>li>a {    
    border-radius: 4px 4px 0 0;
    background-color: #696075;
    color: white;
}
.game-panel .nav>li>a:focus,.game-panel  .nav>li>a:hover {
    text-decoration: none;
    background-color: #4B4454;
    color: white;
    border:1px solid transparent;
}
.game-panel .nav-tabs>li.active>a,.game-panel  .nav-tabs>li.active>a:focus,.game-panel  .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}
.intro {
  min-height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(165, 159, 159, 0.52), rgba(8, 7, 7, 0.51)), url('app/img/intro.jpg') center center;
  color:white;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro  h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family:'Vollkorn', serif;
}
.intro-divider {
    width: 430px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro  h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size:2em;
    font-style:italic;
}
.lead {
  font-size:18px;
  text-align:justify;
}
.multi-btn-select {
  margin:20px 0 40px;
}
.multi-btn-submit {
  margin-top:40px;
}
.navbar-default {
  background:#f8f8f8;
  border-color:#e7e7e7;
  height:50px;
}
.navbar-default .navbar-nav>li>a {
  color:#777;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#000;
  background-color:#e7e7e7;
}
.navbar-default .navbar-nav> li> a.active, .navbar-default .navbar-nav> li> a.active:focus, .navbar-default .navbar-nav> li> a.active:hover {
    color: #555;
    background-color: #e7e7e7;
}
.profile-panel {
    border-right: 1px solid #828282;
    background-color: #4B4454;
    color: white;
}
.profile-panel__group {
  margin:0;
  border-bottom:1px solid #ede5e5;
  padding:15px 0;
}
.profile-panel__group__title {
    border-right: 1px solid #ede5e5;
}
.profile-panel__group:last-child {
    border-bottom: none;
}
.rad-inline {
  margin-right:30px;
}
.row {
  margin-bottom:0;
}
.solo-dropdown {
  margin-bottom:50px;
}
.tab-content {
    min-height: 500px;
    background: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}