/*Custom Styles*/
body {
  font-family:"Open sans", sans-serif;
  padding:50px 0 0;
}
.body-wrap,.selection-panel, .profile-panel {
  min-height:calc(100vh - 200px);
}
.btn {
  background:white;
  border-radius:0;
  color:#555;
  border-color:#adadad;
}
.btn:hover {
  background-color:#e6e6e6;
  border-color:#adadad;
  color:#555;
}
.btn-primary {
  background: #EC4838;
  border-radius:0;
}
.btn-primary:hover {
  background-color: #BB3A2D;
}
.btn-primary, .btn-primary:hover {
  color:#fff;
  border-color:#C33A2D;
}
.console-it h6 {
    color: #6F6C6C !important;
    font-weight: normal !important;
}

div.console-failed {
    color: red;
}
div.console-passed {
    color: green;
}
.console-describe h6 {
    color: black;
    font-weight: bold;
}
.content, .content-alt {
  padding: 50px 0;
}
.content {
    background-color: #f8f8f8;
}
.content-alt {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.content-img {
  max-height:275px;
}
.content-heading {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    font-family:'Salsa', cursive;
}
.content-heading-spacer {
    width: 200px;
    border-top: 3px solid #e7e7e7;
    float: left;
}
footer{
  height: 150px;
  background-color:#F8F8F8;
  padding: 45px 15px;
}
.footer-menu-divider {
  color:#828282;
}
.game {
    display: flex;
    min-height: calc(100vh - 200px);
}
.game-panel {

}
.input-panel {
    background: #DDE5EC;
    padding-top:40px;
    padding-bottom:40px;
}
.input-panel__textarea {
  background-color:#fff;
  height:initial;
  margin-bottom:30px;
}
.intro {
  min-height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(165, 159, 159, 0.52), rgba(8, 7, 7, 0.51)), url('app/img/intro.jpg') center center;
  color:white;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro  h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family:'Vollkorn', serif;
}
.intro-divider {
    width: 430px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro  h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size:2em;
    font-style:italic;
}
.lobby{
  display:flex;
}
.lead {
  font-size:18px;
  text-align:justify;
}
.multi-btn-select {
  margin:20px 0 40px;
}
.multi-btn-submit {
  margin-top:40px;
}
.navbar-default {
  background:#f8f8f8;
  border-color:#e7e7e7;
  height:50px;
}
.navbar-default .navbar-nav>li>a {
  color:#777;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#000;
  background-color:#e7e7e7;
}
.navbar-default .navbar-nav> li> a.active, .navbar-default .navbar-nav> li> a.active:focus, .navbar-default .navbar-nav> li> a.active:hover {
    color: #555;
    background-color: #e7e7e7;
}
.profile-panel {
    border-right: 1px solid #828282;
    background-color: #4B4454;
    color: white;
}
.profile-panel__group {
  margin:0;
  border-bottom:1px solid #ede5e5;
  padding:15px 0;
}
.profile-panel__group__title {
    border-right: 1px solid #ede5e5;
}
.profile-panel__group:last-child {
    border-bottom: none;
}
.prompt-panel {
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 1px solid black;
    background: #141D27;
    color: white;
}
.prompt-panel .nav-tabs>li>a {
    border-radius: 4px 4px 0 0;
    background-color: #5F778C;
    color: white;
    border-bottom:none;
}
.prompt-panel .nav-tabs>li>a:hover, .prompt-panel .nav-tabs>li>a:hover:focus {
    border-bottom: 1px solid transparent;
    background: #6096D2;
    text-decoration: none;
    color:white;
    border-color:#6096D2;
    border-bottom:none;
}
.prompt__title {
    margin: 0;
    /* padding: 20px; */
    color: #141D27;
    text-align: center;
}
.prompt__body {
    white-space: pre-wrap;
    max-height: 80vh;
    overflow-y: scroll;
    border: 1px solid white;
    padding: 15px;
    background: #777777;
    color: #FFFFFF;
}
.race {
  display:none;
}
.rad-inline {
  margin-right:30px;
}
.row {
  margin-bottom:0;
}
.selection-panel {
    background-color: #C1BEC5;
}
.selection-panel h2 {
    color: #36313C;
}
.selection-panel .nav-tabs>li>a {
    border-radius: 4px 4px 0 0;
    background-color: #696075;
    color: white;
}
.selection-panel .nav>li>a:focus,.selection-panel  .nav>li>a:hover {
    text-decoration: none;
    background-color: #4B4454;
    color: white;
    border:1px solid transparent;
}

.selection-panel .nav-tabs>li.active>a,.selection-panel  .nav-tabs>li.active>a:focus,.selection-panel  .nav-tabs>li.active>a:hover,.prompt-panel .nav-tabs>li.active>a,.prompt-panel  .nav-tabs>li.active>a:focus,.prompt-panel  .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}
.solo-dropdown {
  margin-bottom:50px;
}
.selection-panel .tab-content,.prompt-panel .tab-content {
    min-height: 500px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection-panel .tab-content {
  padding: 20px;
}
.testInitial {
    color: #FF8402;
    font-size: 1.5em;
}
.testResults{
  font-weight: bold;/*
  white-space: pre-wrap;*/
}
.testResults__body {
    color: red;
    white-space: pre-wrap;
}
