.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml
.gitignore

# Icon must ends with two \r.
Icon

# Floobits
.floo
.floobit
.floo
.flooignore

# Build files
client/dist/

#lib
client/lib/
client/app/js/
client/app/bundle.js

# Node modules
node_modules/
.env
server/npm-debug.log

# WebStorm files
.idea/

#Auth0 keys
client/auth0-variables.js
